img{
    width:350px; }
    body{
        text-align:center;
        font-family:"comic sans ms";
        font-size:xx-large;
        color:rgb(200, 255, 100);
        background-image: url(http://i0.kym-cdn.com/photos/images/facebook/000/222/861/feeldirty.gif);
    }