img {
    width: 200px;
}
body {
    text-align: center;
    font-family: "comic sans ms";
    font-size: xx-large;
    color: rgb(200, 50, 50);
    background-image: url(http://files.gamebanana.com/img/ico/sprays/deedeedee_run2.gif);
    background-color: rgb(100, 100, 100);
}