img {
    width: 200px;
}
body {
    text-align: center;
    font-family: "comic sans ms";
    color: rgb(255,  255, 255);
    background-image:url(https://mail.google.com/mail/u/0/?ui=2&ik=e3ddba6930&view=fimg&th=158444515c17618b&attid=0.1&disp=emb&realattid=ii_iv9kmhcp4_1584443cb6edfbbf&attbid=ANGjdJ_G71XOZ7Esq9loJsBNt_eCoETyXJ8_UcgWidunFgktMZc8AdFMCnPf1bU2SLz1uHoAsG2b90D3U334Pd5ac_uE77CczB3txGDLBnTGs1cii9PK-GzMmvK-rJM&sz=w140-h140&ats=1478622078447&rm=158444515c17618b&zw&atsh=1);
    background-color: green;
}