img {
    width: 200px;
}
body {
    text-align: center;
    font-family: "comic sans ms";
    color: rgb(255, 0 , 0);
    background-image:url(https://upload.wikimedia.org/wikipedia/en/c/cf/Wario-mario_party_8.png);
    background-color: yellow;
}