#donkey{
    width:75px;
    height: 25px;
}
#tiny{
    width:75px;
    height:25px;
}
#lanky{
     width:75px;
     height:25px;
}
#diddy{
     width:75px;
     height:25px;
}
#chunky{
     width:75px;
     height:25px;
}