#donkey{
    width:150px;
    height:124px;
    background-color: white;
    border-color: black;
}
#tiny{
    width:150px;
    height:124px;
    background-color: white;
    border-color: black;
}
#lanky{
     width:150px;
     height:124px;
     background-color: white;
     border-color: black;
}
#diddy{
     width:150px;
     height:124px;
     background-color: white;
     border-color: black;
}
#chunky{
     width:150px;
     height:124px;
     background-color: white;
     border-color: black;
}
#huh{
    width:75px;
    height:75px;
    background-color:white;
    border-color:black;
    font-family:"comic sans ms";
    font-size:35px;
}
