img{
    width:200px;
}
body{
    text-align:center; 
    font-family:"comic sans ms";
    font-size:xx-large;
    background-image:url(http://vignette1.wikia.nocookie.net/overwatch/images/f/f7/Torbj%C3%B6rn_clickingheels.gif/revision/latest/scale-to-width-down/200?cb=20160824070634); 
}
