img{
    width:200px;
}
body{
    text-align:center; 
    font-family:"comic sans ms";
    font-size:xx-large;
    background-image:url(https://blzgdapipro-a.akamaihd.net/hero/torbjorn/full-portrait.png); 
}
